.container {
  margin: 36px;
}

.container > h1 {
  font-size: 96px;
  line-height: 1;
  margin-bottom: 0;
  max-width: 700px;
}

.container > h3 {
  font-size: 48px;
  margin-bottom: 0;
  margin-top: 20px;
}
